################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MM/.vs/MM/FileContentIndex
/build/
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/obj/Debug
.vs/
[Dd]ebug/
[Oo]bj/
*.suo
*.SUO
/.vs